body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    background-color: #3B4372;
    height: 30px;
}

nav li {
    display: inline;
    margin-right: 20px;
    }

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px

}

nav a:hover {
    text-decoration: underline;

}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000000
;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.support-chat a {
    display: block;
    margin: 10px 0;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 500px
}

.support-chat a:hover {
    text-decoration: underline;
}
